 <!doctype html>
    <html ng-app="userData">
    	<head>
			<meta http-equiv="X-UA-Compatible" content="IE=10,11">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        	<title>Profile User Data</title>
        	<link rel="icon" type="image/x-icon" href="favicon.ico" />
        	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
			<link rel="stylesheet" href="assets/css/font-awesome.css">
			
			<link rel="stylesheet" href="assets/css/style.css">
      		
       		
       		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>
       		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
       		
       		<script src="assets/js/bootstrap.js"></script>
       		<!--script src="assets/js/d3.js"></script-->
			<script src="assets/js/d3.v3.min.js"></script>
			<script src="assets/js/moment.min.js"></script>
      		<script src="assets/js/daterangepicker.js"></script>
			<link rel="stylesheet" type="text/css" href="assets/css/daterangepicker.css" />
       		<script src="assets/js/common.js"></script>
       		

        
			
        </head>
     <body>
     	 <div class="row bg-white">
				<div class="left-side sticky-left-side" ng-include src="'menu.html'" tabindex="5000"></div>
				<div ng-include src="'header.html'" class=""></div>
				<!-- /.container-fluid -->
		</div>
   	
   		<div class="wrapper">
    		<div class="row user-data" ng-controller="userDataCtrl">
    		<div class="col-md-9 left-content">
    			 <div class="row breadcrumb bg-white border-bottom">
					<div class="col-md-6">
						<ul>
							<li><a href="">Profile</a></li>
							<li> &gt; </li>
							<li>User Data</li>
						</ul>
					</div>
					<div class="col-md-4 pull-right">
						<div class="input-group">
						  
						  	<input type="text" id="searchUserTxt" class="form-control" placeholder="Username" aria-describedby="searchUser" ng-model="searchUserName" >
							<span class="input-group-addon" id="searchUser" ng-click="fetchUserData(searchUserName)"><i class="fa fa-search"></i></span>
						</div>
					</div>
				</div> <!-- end of breadcrumb -->
				<div class="row date-range">
					<div class="col-md-6 pull-right">
						<div id="dateRange" class="pull-right">
							<i class="glyphicon glyphicon-calendar txt-green fa fa-calendar"></i>
							<span></span><b class="caret"></b>
						</div>
					</div>
					<div class="hidden">
							<input type="hidden" id="sDate">
							<input type="hidden" id="eDate">
					</div>
				</div><!-- end of date range picker -->
				
				<div id="graphicalData" class="hide">
				
					<div class="row tab-blks">
					<ul class="col-md-12 ">
						<li class="col-md-6 active">
							<div class="col-md-2">
								<div class="icon">
									<i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
								</div> 
							</div>
							<div class="col-md-6">
							
								<h2>Total<br/> Sessions</h2>
							</div>
							<div class="col-md-4 large-txt text-right">
								{{user.tSC}}
							</div>
						</li>
						<li class="col-md-6">
							<div class="col-md-2">
								<div class="icon">
									<i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
								</div> 
							</div>
							<div class="col-md-6">
								<h2>Total<br/> Events</h2>
							</div>
							<div class="col-md-4 large-txt text-right">
								{{user.tSE}}
							</div>
						</li>
					</ul>
				</div><!-- end of tab block -->
				
					<div class="row">
						<div class="col-md-12 bg-white border-bottom text-center">
							<div linear-chart chart-data="salesData"></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 border-bottom">
							<div class="col-xs-12 col-md-6">
								<h3>Events</h3>
							</div>
							<div class="col-xs-12 col-md-4 pull-right">
								<select class="form-control mrgnTp11" id="eventSel">
									<option ng:repeat="event in user.events" value="{{event | lowercase}}" >{{event}}</option>
								</select>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-md-12 bg-white border-bottom text-center">
							 <div linear-chart chart-data="salesData"></div>
							 <span ng-show='title'>{{title}}</span>
		        			 <d3-lines></d3-lines>
						</div>

					</div>
				
					<div class="row">
						<div class="col-md-12 border-bottom">
							<div class="col-xs-12 col-md-6">
								<h3>Funnel Progress</h3>
							</div>
							<div class="col-xs-12 col-md-6">

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 bg-white border-bottom text-center">
							<div class="col-xs-12 col-md-6">
								
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="row">
									<div class="col-md-12">
										<select class="form-control mrgnTp11" id="eventSel">
											<option ng:repeat="event in user.events" value="{{event | lowercase}}" >{{event}}</option>
										</select>
										
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<select class="form-control mrgnTp11" id="eventSel">
											<option ng:repeat="event in user.events" value="{{event | lowercase}}" >{{event}}</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<select class="form-control mrgnTp11" id="eventSel">
											<option ng:repeat="event in user.events" value="{{event | lowercase}}" >{{event}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div><!-- End of hide div -->
   		
    		</div><!-- End of left col -->
    		
    		<div class="col-md-3 right-content">
    			<div id="profileData" class="hide">
    			
					<div class="profile-section">
						<img src="assets/img/1477482048_unknown.png" alt="profile-pic" />
					</div>
					<div class="user-profile-info">

						<div class="row">
							<div class="col-md-12 text-center">
								<h1>{{user.fName}}{{user.lName}}</h1>
								<i class="fa fa-map-marker" aria-hidden="true"></i> {{user.city}} <i class="fa fa-circle fa-1x" aria-hidden="true"></i> {{data.ctry}}
								<p><em>Last Seen {{user.lSeen}} Days ago</em></p>
							</div>
						</div>

						<div class="row linear-graph-box">
							<div class="row">
								<div class="col-md-8">Engagement Level</div> 
								<div class="col-md-4"><i class="fa fa-square" aria-hidden="true"></i> <span>60</span><span>%</span></div>
							</div> 
							<div class="row">
								<div class="col-md-12">
									<div class="grey">
										<div class="orange"> </div>
									</div>
								</div>
							</div>
						</div>

						<hr>

						<div class="row indv-details">
							<div class="col-md-12">
								<dl class="dl-vertical">
									<dt>Username</dt>
									<dd>{{user.uName}}</dd>
									<dt>E-mail</dt>
									<dd>{{user.eM}}</dd>
									<dt>Organization:</dt>
									<dd>{{user.org}}</dd>
									<dt>Full name</dt>
									<dd>{{user.fName}}  {{user.lName}}</dd>
									<dt>Device & OS </dt>
									<dd>{{data.dType}}</dd>
									<dt>Contact Phone:</dt>
									<dd>{{user.con}}</dd>
									<dt>Gender: </dt>
									<dd>{{user.gen}}</dd>
									<dt>Age:</dt>
									<dd>{{user.age}}</dd>
								</dl>
							</div>
							<div class="col-md-12">
							</div>

						</div>

					</div>
    			
    			</div><!-- end of hide div col 3 -->
    			
    		</div><!-- end right col 3 -->
    		
    	</div><!-- end main row -->
		
   		</div><!-- end of container div -->
    	 <div class="overlay"></div>
    	<script>
		 $('body').on('load', function() {
	  // Handler for .load() called.
			console.log('loaded');
			$( ".device-menu li.selected a" ).trigger( "click" );
			
		});
		 </script>
    
    	  
        <script src="assets/js/app-user-data.js"></script>
     </body>							
</html>