<div class="wrapper">
    <div class="parallax" id="section1">
        <div class="parallax-background">
            <img class="parallax-background-image" ng-src="app/img/landing/H_14.jpg" alt="section1 background image">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="description">
                        <h1>Your Destination for Mobile Analytics</h1>
                        <p>
                            A one stop shop for all your mobile analytics needs.
                            Fast Integration and Rich Analytics at your fingertips.
                            Keep you data secured with our in-premise deployments and gain access to all your data.
                        </p>
                    </div>
                    <!--<div class="buttons">
                    <button class="btn btn-fill btn-neutral">Read More</button>
                </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="section section-2" id="section2">
        <div class="container">
            <h2 class="header-text text-center">Single platform for your Mobile Analytic needs</h2>
            <div class="row row-1">
                <p>
                    AppEngage comes with a broad range of feature to get insights of your mobile app usage with a quick integration via the light
                    SDK thus enabling app owners to define and understand the success of their apps.
                    The platform can be used to analyze the data over cloud or request for an in-premise deployment.
                    It provides a mechanism to measure the success of your app and thereby taking business decisions
                    based on usage data and providing users features they like more and discontinue with low usage features.
                </p>
            </div>
            <div class="row row-2">
                <div class="col-md-4 left-col">
                    <div class="card">
                        <div class="icon">
                            <img ng-src="app/img/landing/H_1.png" alt="Core analytics"/>
                        </div>
                        <div class="text">
                            <h4><strong>Core Analytics</strong></h4>
                            <p>
                                Understand the usage patterns acrosss the days, months and get app insights.
                                Understand the current active users and run marketing campaigns to run hyper targeted push notifications.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 center-col">
                    <div class="card">
                        <div class="icon">
                            <img ng-src="app/img/landing/H_2.png" alt="Device analytics"/>
                        </div>
                        <div class="text">
                            <h4><strong>Device Analytics</strong></h4>
                            <p>
                                Helps the app owners to get the device insights, user retention patterns,
                                uninstall attribution and other engagement levels with a quick integration and onboarding of their app.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 right-col">
                    <div class="card">
                        <div class="icon">
                            <img ng-src="app/img/landing/H_3.png" alt="Location analytics"/>
                        </div>
                        <div class="text">
                            <h4><strong>Location Analytics</strong></h4>
                            <p>
                                Access the regions distribution of the mobile app and analyze the patterns of the usage.
                                It helps to identify the low usage regions and target those regions with targeted campaigns for conversions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-color:#cccccc" />
        </div>
    </div>
    <div class="section section-3" id="section3">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="description">
                        <h3 class="header-text"><strong>Device Usage Analytics</strong></h3>
                        <p>
                            Device Analytics will help the app owners to understand how the app is being used across various
                            Manufacturers, Models, Platforms, Operating Systems etc. With this, the teams can take a business
                            decision to test across devices which has the highest user base as opposed to testing it against
                            devices having a low market value and usage.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 hidden-xs">
                    <img ng-src="app/img/landing/H_4.png" alt="Device usage analytics Image"/>
                </div>
            </div>
        </div>

    </div>
    <div class="section section-4" id="section4">
        <div class="container">
            <div class="row">
                <div class="col-md-7 hidden-xs">
                    <img ng-src="app/img/landing/H_5.png" alt="Measure App Features Image"/>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="description">
                        <h3 class="header-text"><strong>Measure App Features</strong></h3>
                        <p>
                            With AppEngage's User Engagement Analysis, App Owners can identify the usage patterns of specific events within the
                            mobile app thus enabling app owners to identify features that are being used frequently and the ones that are used less frequently.
                            App owners can also compare across events and identify the patterns of cross usage.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-5" id="section5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="description">
                        <h3 class="header-text"><strong>Measure Region Distribution</strong></h3>
                        <p>
                            AppEngage's location analytics gives the insights about the adoption rate of the app across the globe.
                            Measure the use onboarding and their engagement levels within the regions to understand the usage pattern.
                            App Owners can run campaigns in the regions where the adoption has been low and drive campaigns for successful conversion.
                        </p>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1 hidden-xs">
                    <img ng-src="app/img/landing/H_6.png" alt="Measure Region Distribution Image"/>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-3 text-center">
                <img ng-src="app/img/landing/H_7.png" style="padding-top:10px;"  alt="App Engage Logo"/>
                <p>
                    &copy;2016 AppEngage
                    <br />
                    All Rights Reserved
                </p>
            </div>
            <!--<div class="col-md-1">
                <h4>LOREM IPSUM DOLOR SIT AMET</h4>
            </div>-->
            <div class="col-md-2">
                <h5><a href="#">About</a></h5>
                <h5><a href="#">Contact</a></h5>
                <h5><a href="#">Terms of Service</a></h5>
                <h5><a href="#">Privacy Policy</a></h5>
            </div>
            <div class="col-md-2">
                <h5>FOLLOW US</h5>
                <img ng-src="app/img/landing/H_10.png" alt="facebook Logo image"/><a href="#">Facebook</a>
                <br />
                <img ng-src="app/img/landing/H_13.png" alt="Twitter Logo image"/><a href="#">Twitter</a>
                <br />
                <img ng-src="app/img/landing/H_12.png" alt="Instagram Logo image"/><a href="#">Instagram</a>
                <br />
                <img ng-src="app/img/landing/H_11.png" alt="RSS Logo image"/><a href="#">RSS</a>
                <br />
            </div>
            <div class="col-md-3">
                <h5>SUBSCRIBE TO OUR NEWSLETTER</h5>
                <p class="newlettertext">For getting all the market insights and trends across the mobile analytics.</p>
                <br />
                <div class="input-group col-xs-10">
                    <input type="text" class="form-control" placeholder="Email">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
