.campaign-editor{
	padding-top: 25px;
}

.campaign-editor .btn{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #36657c;
    color: #ffffff;
}

.campaign-editor h5{
    font-weight: bold;
    padding-bottom: 15px;
}

.campaign-editor .confirm-row .section-confirm .row{
    padding: 12px 0px 12px 0px;
}

.campaign-editor .confirm-row .section-confirm .row .col-md-3{
    font-weight: bold;
    color: #43c2c7;
}

.campaign-editor .section-scheduling #datepck{
    width: 35%;
    display: inline-block;
}
.campaign-editor .section-scheduling #clockpck{
    width: 35%;
    display: inline-block;
}
.campaign-editor .section-scheduling #at{
    display: inline-block;
}

.campaign-editor .section-scheduling .calendar1{
    position:absolute;
    top:97px;
    left: 141px;
}

.campaign-editor .section-scheduling .clock1{
    position:absolute;
    top:97px;
    right: 124px;
}

.campaign-editor .section-scheduling .calendar2{
    position:absolute;
    top:105px;
    left: 178px;
}

.campaign-editor .section-scheduling .clock2{
    position:absolute;
    top:51px;
    right: 107px;
}

.campaign-editor .row .col-md-2 span{
    display: block;
    margin-top:10px;
    cursor:pointer;
    font-size:12px;
}

.clockpicker-button{
    color: #333 !important;
}

span.radio-text{
    vertical-align:middle;
    padding-left: 5px;
    padding-right: 10px;
}
input[type=radio]{
    vertical-align:sub;
}

.side-line{
    display: inline-block;
    float:left;
    padding-right:20px;
}

.fa-circle-o{
    padding-top:9px;
}

.side-line .div2{
     margin-left:5px; 
     border-left: 1px solid;
     display:block;
}

.section-audience #input-behaviour{
    width: 75%;
    display: inline-block;
    margin-left: 10px;
}

select#send-type, select#day-type{
	width: 130px;
    display: inline-block;
}

select#day-number-type{
	width: 70px;
    display: inline-block;
}

.schedule-time-block{
	display:inline-block; 
}