.btn{
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #36657c;
    color: #ffffff;
}

.campaign-editor h5{
    font-weight: bold;
    padding-bottom: 15px;
}

.campaign-editor .confirm-row .section-confirm .row{
    padding: 12px 0px 12px 0px;
}

.campaign-editor .confirm-row .section-confirm .row .col-md-2{
    font-weight: bold;
    color: #43c2c7;
}