
.section-carousel .row {
	text-align: center;
}

.section-carousel .carousel {
	left: 50%;
	position: absolute;
	width: 1000px;
	margin-left: -500px;
	overflow: hidden;
	height: 500px;
	top: 50px;
}

.section-carousel .carousel .item {
	width: 350px;
	height: 250px;
	background: url('http://placehold.it/350x250') top left no-repeat;
	background-size: 100%;
	vertical-align: middle;
	line-height: 150px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.section-carousel .controls {
	position: absolute;
	top: 265px;
	width: 150px;
	z-index: 30;
}

.section-carousel .controls a {
	display: block;
}

.section-carousel .controls .previous {
	float: left;
}

.section-carousel .controls .next {
	float: right;
}

.photos{padding:30px 50px 30px 50px; height: 305px}

.hidden {
   visibility: hidden;
} 

.mobile-select {height:50px;padding-top:15px;padding-left:60px;padding-right:20px}

#dateRange{margin-top:-5px}

.info-container { padding-top:20px; padding-left: 0; width: 100%; display: inline-block;}
.info-container li {    border-right: 1px solid #dadada;}
.info-container li:last-child(){border-right: :0px}

.info {text-align: center}
.info h3{font-size:16px;text-transform: uppercase;height:40px}
.info p{font-size: 26px;font-weight: bold}