body{
	background-color: transparent;
}
#modalRegister .modal-content {
    min-height: 420px;
    max-height: 420px;
}
#modalRegister .tab-content {
    max-height: 280px;
    min-height: 280px;
}
.error-help{
	height:20px;
	color:red;
}